Source: ki18n
Section: libs
Priority: optional
Maintainer: Debian/Kubuntu Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Maximiliano Curia <maxy@debian.org>
Build-Depends: cmake (>= 3.0~),
               debhelper (>= 9),
               extra-cmake-modules (>= 5.36.0~),
               gettext,
               pkg-kde-tools (>= 0.15.15ubuntu1~),
               python,
               python-all,
               qtbase5-dev (>= 5.6.0~),
               qtdeclarative5-dev (>= 5.6.0~),
               qtscript5-dev (>= 5.6.0~)
Standards-Version: 4.0.0
Homepage: https://projects.kde.org/projects/frameworks/ki18n
Vcs-Browser: https://anonscm.debian.org/git/pkg-kde/frameworks/ki18n.git
Vcs-Git: https://anonscm.debian.org/git/pkg-kde/frameworks/ki18n.git

Package: libkf5i18n-dev
Section: libdevel
Architecture: any
Depends: libkf5i18n5 (= ${binary:Version}),
         python:any,
         qtscript5-dev (>= 5.6.0~),
         ${misc:Depends}
Description: Advanced internationalization framework.
 Ki18n is the KDE internationalization system for
 user-interface text. It enables localization of
 user-visible strings, including locale-aware argument
 substitution and formatting. Ki18n is built atop the
 widely used Gettext internationalization system, making
 the workflow familiar to both programmers and translators.
 It can be considered a Gettext-wrapper for code based on
 the Qt library, but it also provides additional
 functionality over basic Gettext.
 .
 Contains development files for ki18n.
Breaks: kross-dev (<< 5.36),
        libkf5configwidgets-dev (<< 5.36),
        libkf5iconthemes-dev (<< 5.36),
        libkf5jsembed-dev (<< 5.36),
        libkf5khtml-dev (<< 5.36),
        libkf5notifyconfig-dev (<< 5.36),
        libkf5pty-dev (<< 5.36),
        libkf5service-dev (<< 5.36),
        libkf5unitconversion-dev (<< 5.36)

Package: libkf5i18n5
Architecture: any
Multi-Arch: same
Depends: libkf5i18n-data (= ${source:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: Advanced internationalization framework.
 Ki18n is the KDE internationalization system for
 user-interface text. It enables localization of
 user-visible strings, including locale-aware argument
 substitution and formatting. Ki18n is built atop the
 widely used Gettext internationalization system, making
 the workflow familiar to both programmers and translators.
 It can be considered a Gettext-wrapper for code based on
 the Qt library, but it also provides additional
 functionality over basic Gettext.
Breaks: baloo-kf5 (<< 5.36),
        frameworkintegration (<< 5.36),
        kinit (<< 5.36),
        kio (<< 5.36),
        kpackagelauncherqml (<< 5.36),
        kpackagetool5 (<< 5.36),
        kross (<< 5.36),
        libkf5configwidgets5 (<< 5.36),
        libkf5declarative5 (<< 5.36),
        libkf5filemetadata3 (<< 5.36),
        libkf5iconthemes5 (<< 5.36),
        libkf5jsembed-dev (<< 5.36),
        libkf5jsembed5 (<< 5.36),
        libkf5kcmutils5 (<< 5.36),
        libkf5kdelibs4support5 (<< 5.36),
        libkf5kdelibs4support5-bin (<< 5.36),
        libkf5khtml-bin (<< 5.36),
        libkf5khtml5 (<< 5.36),
        libkf5kiocore5 (<< 5.36),
        libkf5kiofilewidgets5 (<< 5.36),
        libkf5kiogui5 (<< 5.36),
        libkf5kiowidgets5 (<< 5.36),
        libkf5krosscore5 (<< 5.36),
        libkf5krossui5 (<< 5.36),
        libkf5newstuff5 (<< 5.36),
        libkf5newstuffcore5 (<< 5.36),
        libkf5notifyconfig5 (<< 5.36),
        libkf5package5 (<< 5.36),
        libkf5parts-plugins (<< 5.36),
        libkf5parts5 (<< 5.36),
        libkf5people5 (<< 5.36),
        libkf5peoplewidgets5 (<< 5.36),
        libkf5plasma5 (<< 5.36),
        libkf5plasmaquick5 (<< 5.36),
        libkf5pty5 (<< 5.36),
        libkf5runner5 (<< 5.36),
        libkf5service-bin (<< 5.36),
        libkf5service5 (<< 5.36),
        libkf5su-bin (<< 5.36),
        libkf5texteditor5 (<< 5.36),
        libkf5textwidgets5 (<< 5.36),
        libkf5unitconversion5 (<< 5.36),
        libkf5wallet-bin (<< 5.36),
        libkf5xmlgui-bin (<< 5.36),
        libkf5xmlgui5 (<< 5.36),
        libkf5xmlrpcclient5 (<< 5.36),
        libkwalletbackend5-5 (<< 5.36),
        plasma-framework (<< 5.36),
        qml-module-org-kde-extensionplugin (<< 5.28),
        qml-module-org-kde-kquickcontrols (<< 5.36)

Package: libkf5i18n-data
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Advanced internationalization framework.
 Ki18n is the KDE internationalization system for
 user-interface text. It enables localization of
 user-visible strings, including locale-aware argument
 substitution and formatting. Ki18n is built atop the
 widely used Gettext internationalization system, making
 the workflow familiar to both programmers and translators.
 It can be considered a Gettext-wrapper for code based on
 the Qt library, but it also provides additional
 functionality over basic Gettext.
 .
 This package contains the translations.
